<style>
span.glyphicon-lg {
    font-size: 1.8em;
}
.btn.sharp {
  border-radius:0;
}
#footerr{
  position:fixed;
  bottom:33px;
  height:33px;
  width:100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
</style>
<div id="footerr" class="container">
    <!-- Show for user logged in-->
    <div class="row no-gutter" ng-if="vm.isLoggedIn()">      
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.isActiveTab('/')"
          ng-click="vm.linkTo('/')">
        <span class="glyphicon glyphicon-home glyphicon-lg"></span></button>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button class="btn btn-primary btn-lg btn-block sharp" 
          ng-class="vm.isActiveTab('/foods/add')"
          ng-click="vm.linkTo('/foods/add')">
          <span class="glyphicon glyphicon-plus glyphicon-lg"></span></button>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.isActiveTab('/collection')"
          ng-click="vm.linkTo('/collection')">
        <span class="glyphicon glyphicon-heart glyphicon-lg"></span></button>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.isActiveTab('/profile')"
          ng-click="vm.linkTo('/profile')"
          ng-if="vm.isLoggedIn()">
          <span class="glyphicon glyphicon-user glyphicon-lg"></span></button>

      </div>
    </div>


    <!-- Show for user NOT logged in-->
    <div class="row no-gutter" ng-if="!vm.isLoggedIn()">      
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.isActiveTab('/')"
          ng-click="vm.linkTo('/')">
        <span class="glyphicon glyphicon-home glyphicon-lg"></span></button>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.isActiveTab('/login')"
          ng-click="vm.linkTo('/login')"
          ng-if="!vm.isLoggedIn()">
          <span class="glyphicon glyphicon-user glyphicon-lg"></span></button>
      </div>
    </div>
    
    
      
    
    
</div>