<style>
span.glyphicon-lg {
    font-size: 1.8em;
}
.btn.sharp {
  border-radius:0;
}
#footerr{
  position:fixed;
  bottom:33px;
  height:33px;
  width:100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
</style>
<div id="footerr" class="container" ng-controller="NavCtrl as vm">

    <!-- Show for user NOT logged in-->
    <div class="row no-gutter""> 
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.activeTab==='/' ? 'btn-danger' : ''"
          ng-click="vm.linkTo('/')">
        <span class="glyphicon glyphicon-home glyphicon-lg"></span></button>
      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-lg btn-block sharp"
          ng-class="vm.activeTab==='/login' ? 'btn-danger' : ''"
          ng-click="vm.linkTo('/login')">
          <span class="glyphicon glyphicon-user glyphicon-lg"></span></button>
      </div>
    </div>
    
</div>
    
    
      
    